.button {
  all: unset;
  width: min-content;
  border: 2px solid #fff;
  border-radius: 20px;
  font-family: var( --font-family-helvetica);
  font-weight: 700;
  font-size: 17px;
  line-height: normal;
  cursor: pointer;
  transition: background-color .5s;
}

.button_large {

}

.button_small {
  padding: 10px 47px;
  background: var(--color-lime);
  color: var(--text-secondary-color);
}

.button_small:hover {
  background-color: #fff;
}