.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 242px;
}

.card__header-wrap {
  min-height: 380px;
  margin-bottom: 20px;
}

.card__image {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border: 1px solid var(--color-white);
}

.text {
  margin: 0;
  text-align: center;
  font-weight: 400;
  line-height: normal;
  color: var(--color-white);
}

.text_card-heading {
  margin-top: 18px;
  font-family: var(--font-family-oswald);
  font-size: 25px;
}

.text_card-subheading {
  font-family: var(--font-family-helvetica);
  font-size: 20px;
}

@media screen and (max-width: 795px) {
  .card {
    max-width: 185px;
  }
}

@media screen and (max-width: 620px) {
  .card {
    max-width: 242px;
  }
}

/*@media screen and (max-width: 1200px) {*/

/*}*/

/*@media screen and (max-width: 992px) {*/

/*}*/

/*@media screen and (max-width: 768px) {*/

/*}*/

/*@media screen and (max-width: 650px) {*/

/*}*/

/*@media screen and (max-width: 480px) {*/

/*}*/

/*@media screen and (max-width: 320px) {*/

/*}*/