.content {
  margin: 0 auto;
  max-width: 980px;
}

.decor {
  margin-bottom: 50px;
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
}

.menu {
  margin: 0;
  padding: 0;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 25px;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;
}

.section__heading {
  margin: 0 0 20px;
  text-align: center;
  font-family: var(--font-family-oswald);
  font-weight: 400;
  font-size: 43px;
  line-height: normal;
  letter-spacing: .01em;
  color: var(--color-white);
}

.text {
  margin: 0;
  max-width: 70%;
  text-align: center;
  font-family: var(--font-family-helvetica);
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  color: var(--color-white);
}

.text_color_pink {
  color: var(--color-pink);
}

.text_color_lime {
  color: var(--color-lime);
}

.about-us__interior-photos {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.about-us__interior-photo {
  width: 300px;
  object-fit: cover;
  object-position: top;
}