.item {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px;
  border-bottom: 2px solid var(--color-white);
}

.item:first-of-type {
  padding-top: 0;
}

.text {
  margin: 0;
  font-family: var(--font-family-oswald);
  font-weight: 400;
  font-size: 25px;
  line-height: normal;
  letter-spacing: .01em;
  color: var(--color-white);
}